@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


/* Main style */
body{
    background-color: black;
    height: 100vh;
}
h1{
    color: #efefef;
}

.header{
    font-family: "Press Start 2P", cursive;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-align: left;
    font-size: 45px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(33, 33, 33) 6px 4px 6px;
    padding: 10px;
}

.logo {
    padding-right: 20px;
    border: #efefef;
    border-width: 1px;

}

#logo{ padding-right: 10px;
}
/* List table */
table{
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 20px;
    width: 95vw;
    border-spacing: 0;
    border-collapse: collapse;
}

.main{
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    border-spacing: 0;
    border-collapse: collapse;
    color: black;
}

.question{
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 20px;
    width: 600px;
    border-spacing: 0;
    border-collapse: collapse;
    color: black;
}

.answer{
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 20px;
    width: 80vw;
    border-spacing: 0;
    border-collapse: collapse;
    color: black;
}


tr:nth-child(even) {background-color: #e5e5e5;}

thead{
    color: #000000;
    text-align: center;
}

.list_col1 {
    width: 3%;
}
.list_col2, .list_col3, .list_col4, .list_col7 {
    width: 10%;
    text-align: center;
}

.list_col5 {
    width: 20%;
}
.list_col6 {
    width: 37%;
}

tbody{
    text-align: center;
}

tfoot{
    height: 50px;
    margin: 10px;
    padding: 10px;
}

.message{
    text-align: left;
}

/* Css for links*/

/*Up down link style*/
a:link.UPandDOWN, a:visited.UPandDOWN {
  color: #2A708C;
}

a:hover.UPandDOWN, a:active.UPandDOWN {
  color: #D9B2A9;
}

/*Hand up and down style*/

a:link.up, a:visited.up,a:hover.up, a:active.up {
  color: #2a8c2c;
}

a:link.down, a:visited.down,a:hover.down, a:active.down {
  color: rgba(140, 15, 15, 0.92);
}

/*Title link style*/

a:link.title, a:visited.title {
    color: #2A708C;
    font-weight: bold;
    text-decoration: none;
}

a:hover.title, a:active.title {
  color: #D9B2A9;
}

/*Style for buttons link*/

.user_button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #bdbdbd;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin-left: 10px;
}
.user_button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.user_button:active {
	position:relative;
	top:1px;
}