@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body{
    height:100%;
    width:100%;
    margin:0;
    padding: 0;
    background-color: #17171E;
}
p{
    color: white;
}

mark{
    color: black;
    background-color: white;
}
.header {
  height: 100px;
     z-index: 1;
  background-color: #212130;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.account-panel {
    align-items: center;
    position: fixed;
    top: 15px;
    right: 90px;
    display: flex;
}
.register-btn {
    background-color:#17171E;
	border-radius:25px;
	border:1px solid #F93A0B;
	display:inline-block;
	cursor:pointer;
	color: white;
    font-family: Arial;
	font-size:15px;
    margin-top: 15px;
	font-weight:bold;
    margin-right: 10px;
	padding:10px 35px;
	text-decoration:none;
}

.sign-up-labels{
    color: #ffffff;
    font-size: 25px;
}


.login-btn {
    background-color:#17171E;
	border-radius:25px;
	border:1px solid #F93A0B;
	display:flex;
	cursor:pointer;
	color: white;
    font-family: Arial;
	font-size:15px;
	font-weight:bold;
    margin-top: 15px;
    margin-right: -81px;
	padding:10px 35px;
	text-decoration:none;
}

.main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  overflow: auto;
  width: 900px;
}

.footer {
  position: fixed;
  bottom: 0px;
  overflow: hidden;
  width: 100%;
  background-color: #212130;
  color: #F93A0B;
  text-align: center;
}

.top-line{
    background-color: #F93A0B;
    width: 100%;
    height: 3px;
}

.logo2{
    font-family: "Press Start 2P", cursive;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-align: left;
    font-size: 35px;
    color: #F93A0B;
    text-shadow: #efefef;
    padding: 10px;
}

.logo {
    padding-right: 20px;
    margin: 20px;
    border: #efefef;
    border-width: 1px;

}

#logo{ padding-right: 10px;
}

h1{
    color: #F93A0B;;
}

.title{
    margin-bottom: 10px;
}

.list-question{
    background-color: #212130;
    margin-bottom: 10px;
    border-radius: 25px;
    padding: 5px;
}

.static_value{
    color: white;
}

.static_txt{
    color: #F93A0B;
}

.question-statistic{
    position: static;
    margin: 10px;
    padding: 10px 30px 10px 10px;
    text-align: right;
    width: 22%;
    background-color: #17171E;
    border-radius: 25px;
    height: 80px;

}

.question-image{
    position: static;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 22%;
    background-color: #17171E;
    border-radius: 25px;
    height: 150px;

}



.question-details{
     z-index: 0;
    margin: 10px;
    padding: 20px;
    text-align: left;
    width: 78%;
    background-color: #17171E;
    border-radius: 25px;
    vertical-align:top;
}
.question-footer{
     z-index: 0;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    text-align: left;
    width: 100%;
    background-color: #17171E;
    border-radius: 25px;
    vertical-align:top;
}


.question-tag{
    color: #86989B;
}
.question-title{
    color: #F93A0B;
}
.question-message{
    color: white;
}

.search_by{
    color: #F93A0B;
    padding-left: 10px;
}

.search_col{
    color: white;
    padding: 0px 15px 0px 15px;
}

/*Style for buttons link*/

.user_button {
	background-color: transparent;
	color: white;
	border: solid gray 2px;
	border-radius: 20px;
	text-align: center;
	padding: 10px 24px;
	text-decoration: none;
	font-size: 16px;
	margin: 10px 4px;
	display: inline-block;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.user_button:hover {
	background-color:#F93A0B    ;
	box-shadow: 0 14px 18px 0 #000000, 0 17px 50px 0 #000000;
	transform: scale(1.2);

}
.user_button:active {
	position:relative;
	top:1px;
}

a:link.title, a:visited.title {
    color: #F93A0B;
    font-weight: bold;
    text-decoration: none;
}

a:hover.title, a:active.title {
  color: white;
}

a:link.title, a:visited.title {
    color: #F93A0B;
    font-weight: bold;
    text-decoration: none;
}

a:hover.title, a:active.title {
  color: white;
}

/*Hand up and down style*/

a:link.up, a:visited.up,a:hover.up, a:active.up {
  color: #2a8c2c;
}

a:link.down, a:visited.down,a:hover.down, a:active.down {
  color: rgba(140, 15, 15, 0.92);
}


/*Up down link style*/
a:link.UPandDOWN, a:visited.UPandDOWN {
  color: #F93A0B;
}

a:hover.UPandDOWN, a:active.UPandDOWN {
  color: white;
}
.duplicated_user_name{
    background-color: #B33A3A;
    border: black solid 4px;
    border-radius: 35px;
    width: fit-content;
    margin: auto;
}

.hello-msg{
    font-size: 40px;
}
.info-text{
    color: white;
    font-size: 20px;
}
.user-list{
    color: #ffffff;
    font-size: 15px;
    position: static;
    margin: 10px;
    padding: 10px 30px 10px 10px;
    text-align: center;
    background-color: #17171E;
    border-radius: 25px;
    height: 80px;
}
.main-user-list{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
    overflow: auto;
    width: 260px;
}

.main-header{
    align-items: center;
    display: flex;

 }

.profile-icon{
    border-radius: 75px;
    margin-right: -148px;
    border-radius: 75px;

}

.user-name{
    color: #F93A0B;
    font-size: 50px;
    margin-left: 60px;
}
.profile-avatar{
    border-radius: 70px;
}
.reputation{
    font-size: 20px;
    float: right;
    margin-left: 350px;
}