@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body{
    font-family: poppins,sans-serif;
    height:100%;
    width:100%;
    margin:0;
    padding: 0;
    background-color: #17171E;
    font-size: 14px ;
}


.grid-main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 100px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
p{
    color: white;
}

mark{
    color: black;
    background-color: white;
}
.header {
    grid-area: 1 / 1 / 2 / 6;
  height: 100px;
     z-index: 1;
  background-color: #212130;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.account-panel {
    align-items: center;
    position: fixed;
    top: 15px;
    right: 90px;
    display: flex;
}
.register-btn {
    background-color:#17171E;
	border-radius:25px;
	border:1px solid #F93A0B;
	display:inline-block;
	cursor:pointer;
	color: white;
    font-family: Arial;
	font-size:15px;
    margin-top: 15px;
	font-weight:bold;
    margin-right: 10px;
	padding:10px 35px;
	text-decoration:none;
}

.sign-up-labels{
    color: #ffffff;
    font-size: 25px;
}


.login-btn {
    background-color:#17171E;
	border-radius:25px;
	border:1px solid #F93A0B;
	display:flex;
	cursor:pointer;
	color: white;
    font-family: Arial;
	font-size:15px;
	font-weight:bold;
    margin-top: 15px;
    margin-right: -81px;
	padding:10px 35px;
	text-decoration:none;
}

.main {
    grid-area: 2 / 2 / 5 / 5;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*margin-bottom: 100px;*/
  /*margin-top: 100px;*/
  overflow: auto;
  /*width: 900px;*/
  /*  height: 100%;*/
}

.footer {
    grid-area: 5 / 1 / 6 / 6;
  position: fixed;
  bottom: 0px;
  overflow: hidden;
  width: 100%;
    padding: 5px;
  background-color: #212130;
  color: #F93A0B;
  text-align: center;
}

.top-line{
    background-color: #F93A0B;
    width: 100%;
    height: 3px;
}

.logo2{
    font-family: "Press Start 2P", cursive;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-align: left;
    font-size: 35px;
    color: #F93A0B;
    text-shadow: #efefef;
    padding: 10px;
}

.logo {
    padding-right: 20px;
    margin: 20px;
    border: #efefef;
    border-width: 1px;

}

#logo{ padding-right: 10px;
}

h1{
    color: #F93A0B;;
}

.title{
    margin-bottom: 10px;
    width: 99%;
}

.list-question{
    background-color: #212130;
    margin-bottom: 10px;
    border-radius: 25px;
    padding: 5px;
}

.list-box{
    background-color: #212130;
    margin-bottom: 10px;
    border-radius: 25px;

}

.static_value{
    color: white;
}

.static_txt{
    color: #F93A0B;
}

.question-statistic{
    position: static;
    margin: 5px;
    padding: 10px 30px 10px 10px;
    text-align: right;
    /*width: 22%;*/
    background-color: #17171E;
    border-radius: 25px;

}

.question-image{
    position: static;
    margin: 5px;
    padding: 20px;
    text-align: center;
    /*width: 22%;*/
    background-color: #17171E;
    border-radius: 25px;
    /*height: 150px;*/

}

.img-question{
    width: 90%;
    border:5px solid #212130;
    border-radius:25px;
}


.question-details{
     z-index: 0;
    margin: 5px 5px 5px 0px;
    padding: 20px;
    text-align: left;
    /*width: 78%;*/
    background-color: #17171E;
    border-radius: 25px;
    vertical-align:top;
}
.question-footer{
     z-index: 0;
    margin: 0px 5px -13px 5px;
    padding: 10px 20px 10px 20px;
    text-align: left;
    /*width: 100%;*/
    background-color: #17171E;
    border-radius: 25px;
    vertical-align:top;
}

.question-box{
     z-index: 0;
    margin: 5px 5px 5px 5px;
    padding: 10px 20px 10px 20px;
    text-align: left;
    /*width: 100%;*/
    background-color: #17171E;
    border-radius: 25px;
    vertical-align:top;
}


.question-tag{
    color: #86989B;
}
.question-title{
    color: #F93A0B;
}
.question-message{
    color: white;
}

.search_by{
    color: #F93A0B;
    padding-left: 10px;
}

.search_col{
    color: white;
    padding: 0px 15px 0px 15px;
}

/*Style for buttons link*/

.user_button {
	background-color:#17171E;
	border-radius:25px;
	border:1px solid #F93A0B;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
}
.user_button:hover {
	background-color:#F93A0B;
}
.user_button:active {
	position:relative;
	top:1px;
}

a:link.title, a:visited.title {
    color: #F93A0B;
    font-weight: bold;
    text-decoration: none;
}

a:hover.title, a:active.title {
  color: white;
}

a:link.title, a:visited.title {
    color: #F93A0B;
    font-weight: bold;
    text-decoration: none;
}

a:hover.title, a:active.title {
  color: white;
}

/*Hand up and down style*/

a:link.up, a:visited.up,a:hover.up, a:active.up {
  color: #2a8c2c;
}

a:link.down, a:visited.down,a:hover.down, a:active.down {
  color: rgba(140, 15, 15, 0.92);
}


/*Up down link style*/
a:link.UPandDOWN, a:visited.UPandDOWN {
  color: #F93A0B;
}

a:hover.UPandDOWN, a:active.UPandDOWN {
  color: white;
}
.duplicated_user_name{
    background-color: #B33A3A;
    border: black solid 4px;
    border-radius: 35px;
    width: fit-content;
    margin: auto;
}

.hello-msg{
    font-size: 40px;
}
.info-text{
    color: white;
    font-size: 20px;
}
.user-list{
    color: #ffffff;
    font-size: 15px;
    position: static;
    margin: 10px;
    padding: 10px 30px 10px 10px;
    text-align: center;
    background-color: #17171E;
    border-radius: 25px;
    height: 80px;
}
.main-user-list{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
    overflow: auto;
    width: 260px;
}
.main-header{
    align-items: center;
    display: flex;

 }

.profile-icon{
    border-radius: 75px;
    margin-right: -148px;
    border-radius: 75px;

}

.user-name{
    color: #F93A0B;
    font-size: 50px;
    margin-left: 60px;
}
.profile-avatar{
    border-radius: 70px;
}
.reputation{
    font-size: 20px;
    float: right;
    margin-left: 350px;
    font-size: 40px;
}

.tag_container{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}


/*Flex question*/

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
    width: 100%;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
    width: 20%;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
    width: 80%;
}


/*User flexbox*/


.flex-container-user {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flex-items-user:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
    width: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
}

.flex-items-user:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
    width: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
}

.flex-items-user:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
}

.flex-items-user:nth-child(4) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
    width: 20%;
    align-content: center;
    text-align: center;
}