{% extends 'base.html' %}

{% block content %}



    <div class="title">
        <h1><b>{% block title %}User pages: {% endblock %}</b></h1>
        <a class="user_button" href="/">Return to home page</a>
    </div>
    <div class="list-question">
        <div class="question-box">
        <table class="user-experience">
                <td style="width: 600px;">  <img src="/static/default-avatar-profile-icon-vector-social-media-user-image-400-205124837.jpg" width="150" height="150" class="profile-avatar">
        <a href="/users/{{ question[0]['user_id'] }}" style="text-decoration: none"><p class="user-name" >{{ username[0]['username'] }}</p></a></td>
                <td>
                <p class="info-text"">Reputation: {{ username[0]['reputation'] }}</p>
                <p class="info-text">Questions: {{ question|length }}</p>
                <p class="info-text">Answers: {{ answer|length  }}</p>
                <p class="info-text">Comments: {{ comment|length  }}</p></td>
            </tr>
            </table>
        </div>
        <div class="question-footer" style="color: white"><b>Your questions:</b></div><br>
        {% for row in question %}
        <div class="question-footer" >
             <p><a href="/question/{{ row.id }}" class="title">
                            {% if search_phrase is defined %}
                                  {% autoescape false %}{{ row.title | replace(search_phrase, '<mark>'+search_phrase+'</mark>') }}{% endautoescape %}
                            {% else %}
                                    {{ row.title }}
                            {% endif %}
                            </a></p>
            <spam class="static_txt">Published: </spam><spam class="static_value">{{ row.submission_time.strftime('%d-%m-%Y %H:%M:%S')}} </spam>

        </div><br>
        {% endfor %}
    </div>
<br>
{% endblock %}
