<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>
    <title>Edit Answer</title>
</head>
<body>
<div class="header">
    <p class="logo"><i class="fa-solid fa-comments" id="logo"></i>AskMate</p>
</div>
<h1>Edit Answer</h1>
<a href="/list" class="user_button"> Return to list</a>
<br><br>
<div class="main">
<form action="/answer/{{ selected_answer[0].id  }}/edit" method="POST" enctype="multipart/form-data">
    <label for="message">message</label><br>
    <textarea class="message" name="message" required>{{selected_answer[0].message}}</textarea><br>
    <input type="submit" value="Edit question"><br>
</form></div>
</body>
</html>