{% extends 'base.html' %}

{% block content %}

    <div class="title">
        <h1>{% block title %}Edit answer{% endblock %}</h1>
        <a href="/list" class="user_button"> All question list</a>
    </div>

        <div class="list-question">
            <div class="question-box">
            <form action="/answer/{{ selected_answer[0].id  }}/edit" method="POST" enctype="multipart/form-data">
                <label class="static_txt" for="message">Message:</label><br>
                {{ ckeditor.create(value=selected_answer[0].message) }}<br>
                <input class="user_button" type="submit" value="Edit question"><br>
            </form>
            </div>
        </div>
{% endblock %}