
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{{url_for('static', filename='style2.css')}}">
<script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>
    <title>Edit Question</title>
</head>

<body>

<div class="header">
    <div class="top-line"></div>
    <div class="logo2">
        <p class="logo"><i class="fa-solid fa-comments" id="logo"></i>AskMate</p>
    </div>

</div>

<div class="main">
    <div class="title">
        <h1>Add new Answer</h1>
        <a href="/list" class="user_button"> All question list</a>
    </div>

        <div class="list-question">
            <div class="question-footer" style="width: 832px">
            <form action="/question/{{ selected_question[0].id  }}/edit" method="POST" enctype="multipart/form-data">
                <label class="static_txt" for="title">Story title:</label><br>
                <input type="text" name="title" class="title"   value="{{ selected_question[0].title}}" required><br>
                <label class="static_txt" for="message">Message:</label><br>
                <textarea class="message" name="message" required>{{selected_question[0].message}}</textarea><br>
                <input class="user_button" type="submit" value="Edit question"><br>
            </form>
            </div>
        </div>
</div>
<div class="footer">Team APA</div>
</body>
</html>

