<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style2.css')}}">
    <title>Success</title>
</head>
<body>
<div class="header">
    <div class="top-line"></div>
    <div class="logo2">
        <p class="logo"><i class="fa-solid fa-comments" id="logo"></i>AskMate</p>
    </div>
</div>


<div class="main">
    <div class="title">
    </div>
    <div>
        <h1 class="hello-msg">Hi {{user_name}}, Your registration was successful</h1>
        <p class="info-text">If you want to log in, just click the button below ;)</p>
        <a href="/login" class="user_button">Log in</a>
    </div>
</div>
<div class="footer">Team APA</div>
</body>
</html>