<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style3.css')}}">
    <title>Home page</title>
</head>
<body>
<h1><b>Home page</b></h1>
    <div>
        {% if is_log_in %}
        <a class="user_button" href="/logout">Log-out</a>
        {% else %}
        <a class="user_button" href="/login">Login</a>
        {% endif %}
        <a class="user_button" href="/sign_up">sign_up</a>
        <a class="user_button" href="/list_of_users">list users</a>
    </div>
</body>
</html>