<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{{url_for('static', filename='style2.css')}}">
<script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>
    <title>Question list</title>
</head>

<body>

<div class="header">
    <div class="top-line"></div>
    <div class="logo2">
        <p class="logo"><i class="fa-solid fa-comments" id="logo"></i>AskMate</p>
    </div>

</div>

<div class="main">
    <div class="title">
        <h1>Last Question</h1>
        <a href="/list" class="user_button"> All question list</a>
    </div>

    {% for row in user_question %}
        <div class="list-question">
            <div class="question-statistic">
                <div ><p> <span class="static_value"> {{ row.view_number }}</span><span class="static_txt"> question views</span></p> </div>
                <div><p><span class="static_value">{{ row.vote_number }}</span><span class="static_txt"> question votes</span></p></div>
            </div>

            <div class="question-image">
                <img width="130px" src="/static/img.png" alt="Question image"/>
            </div>
            <div class="question-details"></div>
        {{ row.submission_time }}
        <a href="/question/{{ row.id }}" class="title"> {{ row.title }} </a>
         {{ row.message }}
        <img widtr="100px" src="{{row.image}}" alt="Question image"/>
        </div>
    {% endfor %}
</div>
<div class="footer">Team APA</div>
</body>
