<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{{url_for('static', filename='style2.css')}}">
<script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>
    <title>AskMate - Question</title>
</head>

<body>
{{ ckeditor.load() }}
<div class="header">
    <div class="top-line"></div>
    <div class="logo2">
        <p class="logo"><i class="fa-solid fa-comments" id="logo"></i>AskMate</p>
            <div class ="account-panel">
            {% if not is_log_in %}
            <a href="/sign_up" class="register-btn"> Sign Up</a>
            {% endif %}
            {% if is_log_in %}
            <a class="login-btn" href="/logout">Log-out</a>
            {% else %}
            <a class="login-btn" href="/login">Login</a>
            {% endif %}
        </div>
    </div>

</div>

<div class="main">
    <div class="title">
        <h1>Last Question</h1>
        <a href="/list" class="user_button"> All question list</a>
    </div>

    {% for row in user_question %}
        <div class="list-question">
            <table>
                <tbody>
                  <tr>
                    <td class="question-statistic">
                        <p> <span class="static_value"> {{ row.view_number }}</span><span class="static_txt"> question views</span></p>
                        <p><span class="static_value">{{ row.vote_number }}</span><span class="static_txt"> question votes</span></p>
                    </td>
                    <td></td>
                    <td rowspan="4" class="question-details">
                        <p><a href="/question/{{ row.id }}" class="title"> {{ row.title }} </a></p>
                        <p class="question-tag">Tags: CSS HTML PYTHON</p>
                        {% autoescape false %}<p class="question-message">{{ row.message }}</p>{% endautoescape %}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                  <tr>
                    <td class="question-image"><img width="130px" src="/static/img.png" alt="Question image"/></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                  <tr>
                     <td colspan="3"></td>
                  </tr>
                  <tr>
                     <td class="question-footer" colspan="3"><spam class="static_txt">Published: </spam><spam class="static_value">{{ row.submission_time.strftime('%d-%m-%Y %H:%M:%S')}} </spam>
                     <spam class="static_txt"> <i class="fa-solid fa-user"></i> </spam><spam class="static_value">Team Apa</spam>
                     </td>
                  </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>
<div class="footer">Team APA</div>
</body>
</html>
