{% extends 'base.html' %}

{% block content %}

    <div class="title">
        <h1><b>{% block title %}List of all users: {% endblock %}</b></h1>
        <a class="user_button" href="/">Return to home page</a>
    </div>
        {% for user in all_users %}
                <div class="flex-container-user list-question">
                    <div class="flex-items-user question-box">Username: <b>{{user.username}}</b></div>
                    <div class="flex-items-user question-box">Email: {{user.email}}</div>
                    <div class="flex-items-user question-box">Registered time: {{user.register_time.strftime('%d-%m-%Y %H:%M:%S')}}</div>
                    <div class="flex-items-user question-box"><a href="/user/{{user.id}}/delete" class="user_button">Delete user</a></div>
                </div>

        {% endfor %}
    <br><br>
{% endblock %}