<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>
</head>

<body>

<h1>Ask Mate</h1>
<table>
    <thead>
    <th>Id</th>
    <th>Submission Time
        <a href="/list?order_by=submission_time&order_direction=asc"><i class="fa-solid fa-angle-up"></i></a>
        <a href="/list?order_by=submission_time"><i class="fa-solid fa-angle-down"></i></a>
    </th>
    <th>View number
        <a href="/list?order_by=view_number&order_direction=asc"><i class="fa-solid fa-angle-up"></i></a>
        <a href="/list?order_by=view_number"><i class="fa-solid fa-angle-down"></i></a>
    </th>
    <th>Vote number
        <a href="/list?order_by=vote_number&order_direction=asc"><i class="fa-solid fa-angle-up"></i></a>
        <a href="/list?order_by=vote_number"><i class="fa-solid fa-angle-down"></i></a>
    </th>
    <th>Title
        <a href="/list?order_by=title&order_direction=asc"><i class="fa-solid fa-angle-up"></i></a>
        <a href="/list?order_by=title"><i class="fa-solid fa-angle-down"></i></a>
    </th>
    <th>
        Message
        <a href="/list?order_by=message&order_direction=asc"><i class="fa-solid fa-angle-up"></i></a>
        <a href="/list?order_by=message"><i class="fa-solid fa-angle-down"></i>
    </th>
    <th>Image</th>
    </thead>
    <tbody>
    {% for row in user_question %}
        <tr>
            <td>
                {{ row.id }}
            </td>
            <td>
                {{ row.submission_time }}
            </td>
            <td>
                {{ row.view_number }}
            </td>
            <td>
                <a href="/question/{{ row.id }}/vote-down"><i class="fa-solid fa-angle-down"></i></a>
                {{ row.vote_number }}
                <a href="/question/{{ row.id }}/vote-up"><i class="fa-solid fa-angle-up"></i></a>
            </td>
            <td>
                <a href="/question/{{ row.id }}"> {{ row.title }} </a>
            </td>
            <td>
                {{ row.message }}
            </td>
            <td>
                <img width="100px" src="{{url_for('static', filename=row.image)}}" alt="Question image"/>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
<a href="/add-question"> Add new question </a>

</body>