<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style2.css')}}">
    <title>Log in</title>
</head>
<body>
<div class="main">
    <div class="title">
        <h1>Log in</h1>
        <a href="/list" class="user_button"> All question list</a>
    </div>

    <div class="list-question">
        <div class="question-footer" style="width: 832px">

            <form action="/login" method="POST" enctype="multipart/form-data">
                {% if status %}
                <h2>Wrong username or password</h2>
                {% endif %}
                <label class="sign-up-labels" for="username">Username</label><br>
                <input name="username" id="username" size="50" type="text" required/>
                <br><br>
                <label class="sign-up-labels" for="password">Password</label><br>
                <input name="password" id="password" size="50" type="password" required/>
                <br><br>
                <input class="user_button" type="submit" value="Log in"/>
            </form>

        </div>
    </div>
</div>

<div class="footer">Team APA</div>
</body>
</html>

