{% extends 'base.html' %}

{% block content %}

    <div class="title">
        <h1>{% block title %}Add tag{% endblock %}</h1>
        <a href="/list" class="user_button"> All question list</a>
    </div>

        <div class="list-question">
            <div class="question-box">
             <form action="/question/{{ question_id }}/new-tag" method="POST" enctype="multipart/form-data">
                 <div>
                     {% for tag in tags %}
                     <label class="static_txt" for="{{ tag }}">{{ tag }}</label>
                     <input type="radio" name="tag" id="{{ tag }}" value="{{ tag }}">
                     {% endfor %}
                     <br><br>
                     <label class="static_txt" for="new_tag">Add new tag: </label>
                     <input type="text" name="tag" id="new_tag" placeholder="New tag"><br><br>
                <input class="user_button" type="submit" value="Submit"><br>
                 </div>
            </form>
            </div>
        </div>
{% endblock %}