<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>
    <title>New answer</title>
</head>
<body>
<div class="header">
    <p class="logo"><i class="fa-solid fa-comments" id="logo"></i>AskMate</p>
</div>
<h1>Add answer</h1>
<a href="/list" class="user_button"> Return to list</a>
<br><br>
<div class="main">
 <form action="/question/{{ question_id }}/new-answer" method="POST" enctype="multipart/form-data">
    <label for="message">message</label><br>
    <textarea class="message" name="message"></textarea><br>
    <input type = "file" name = "file_answer" />
    <input type="submit" value="Add answer"><br>
</form></div>
</body>
</html>