{% extends 'base.html' %}

{% block content %}

    <div class="title">
        <h1>{% block title %}Add comment{% endblock %}</h1>
        <a href="/list" class="user_button"> All question list</a>
    </div>

        <div class="list-question">
            <div class="question-box">
            <form action="/question/{{ question_id }}/new-comment" method="POST" enctype="multipart/form-data">
                <label class="static_txt" for="message">Message:</label><br>
                {{ ckeditor.create() }}<br>
                <input class="user_button" type="submit" value="Add comment"><br>
            </form>
            </div>
        </div>
{% endblock %}