<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>New Question</title>
</head>
<body>
<div id="header">
    <p id="logo"><i class="fa-solid fa-comments" id="logo"></i>AskMate</p>
</div>
<h1>Add new Question</h1>

<div id="main">
<form action="/add-question" method="POST" enctype="multipart/form-data">
    <label for="title">Story title:</label><br>
    <input type="text" name="title" id="title" required><br>
    <label for="message">message</label><br>
    <textarea id="message" name="message" required></textarea><br>
    <input type = "file" name = "file" />
    <input type="submit" value="Add new question"><br>
</form>
</div>
</body>
</html>