<!DOCTYPE html>
<html lang="en">
<head>
<title>Question</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>

</head>
<body>
<div id="header">
    <p id="logo"><i class="fa-solid fa-comments" id="logo"></i>AskMate</p>
</div>
<h1>Question detail : </h1>
<a href="/list" id="user_button"> Return to list</a>
<br><br>
<table id="question">
    <tbody>
        <tr>
            <td>
                <p>Title:</p>
            </td>
            <td>
                {{ selected_question.title }}
            </td>
        </tr>
        <tr>
            <td>
                <p>Message:</p>
            </td>
            <td>
                {{ selected_question.message  }}
            </td>
        </tr>
        <tr>
            <td>
                <p>Image:</p>
            </td>
            <td>
                <img width="300px" src="{{url_for('static', filename=selected_question.image)}}" alt="Question image"/>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table id="answer">
<thead>
    <th>Id</th>
    <th>Submission Time</th>
    <th>Vote number</th>
    <th>Message</th>
    <th>Image</th>
    <th>Delete</th>
    </thead>
<tbody>
    {% for row in selected_answer %}
        <tr>
            <td>
                {{ row.id }}
            </td>
            <td>
                {{ row.submission_time }}
            </td>
            <td>
                <a href="/answer/{{ row.id }}/vote-down"id="down"><i class="fa-solid fa-hand-point-down"></i></a>
                {{ row.vote_number }}
                <a href="/answer/{{ row.id }}/vote-up" id="up"><i class="fa-solid fa-hand-point-up"></i></a>
            </td>
            <td>
                {{ row.message }}
            </td>
            <td>
                <img width="100px" src="{{url_for('static', filename=row.image)}}" alt="Question image"/>
            </td>
            <td>
                <a href="/answer/{{ row.id }}/delete" id="title"> Delete answer</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<a href="/question/{{ selected_question.id }}/delete" id="user_button"> Delete question</a>
<a href="/question/{{ selected_question.id }}/edit" id="user_button"> Edit question</a>
<a href="/question/{{ selected_question.id }}/new-answer" id="user_button"> Add answer</a>
</body>