
{% extends 'base.html' %}

{% block content %}


    <div class="title">
        <h1><b>{% block title %}Questions with {{ tag }} tag {% endblock %}</b></h1>
        <a class="user_button" href="/">Return to home page</a>
    </div>
    <div class="list-question">
    {% for question in questions %}
        <div class="question-footer">
        <a class="title" href="/question/{{ question[0].id }}">{{ question[0].title }}</a><br>
        <p class="info-text">{{ question[0].submission_time.strftime('%d-%m-%Y %H:%M:%S') }}</p>
        </div><br>
    {% endfor %}
    </div>

{% endblock %}