{% extends 'base.html' %}

{% block content %}

    <div class="title">
        <h1>{% block title %}Sign up{% endblock %}</h1>
        <a href="/list" class="user_button"> All question list</a>
    </div>

    <div class="list-question">
        <div class="question-box">

            <form action="/sign_up" method="POST" enctype="multipart/form-data">
                    {% if user_duplicated %}
                        <div class="duplicated_user_name">
                        <h1 style="color: white">{{ username }} already exist, keep trying ;)</h1>
                        </div>
                    {% endif %}

                <label class="static_txt" for="username">Username</label><br>
                <input name="username" id="username" size="50" type="text" pattern="[0-9a-zA-Z'-'\s]*" placeholder="Your beautiful name here" required/>
                <br><br>
                <label class="static_txt" for="email">Email</label><br>
                <input name="email" id="email" size="50" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" placeholder="Your email" required/>
                <br><br>
                <label class="static_txt" for="password">Password</label><br>
                <input name="password" id="password" size="50" type="password" required/>
                <br><br>
                <input class="user_button" type="submit" value="Sign up"/>
            </form>
        </div>
    </div>
{% endblock %}